
<mat-toolbar color="primary" role="heading">
  <span>  Herolo Cinema </span>
</mat-toolbar>

<router-outlet></router-outlet>

<p style="text-align:center">Made by <a href="http://www.efigordon.com/" target="_blank" rel="noopener">Efi Gordon</a> .</p>