.button-row button,
.button-row a {
  margin-right: 8px;
  padding: 0 6px 0 6px;


 
}

.card {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 30px;
    width: 60%;
   

}
.toolbar {
  margin-top: 8px;
}

.material-icons {
  cursor: pointer; 
}